<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/img/favicon.png" type="image/png" />
    <title>Courses Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="\extra\bootstrap\css\bootstrap.css" />
    <link rel="stylesheet" href="\extra\flaticon.css" />
    <link rel="stylesheet" href="\extra\themify-icons.css" />
    <link rel="stylesheet" href="\extra\vendors\owl-carousel\owl.carousel.min.css" />
    <link rel="stylesheet" href="\extra\vendors\nice-select\css\nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="\css\style1.css" /></head>

  <body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
      <div class="main_menu">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"
              ><img src="/img/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active ">
                  <form method='POST' action='http://localhost:3000/ViewCourse1 '>
                    <button type="submit" class="cldr" id="ln" name="username"><a class="nav-link"  >Courses</a></button>
                </form>
                </li>
                  <li class="nav-item">
                    <form method='POST' action='http://localhost:3000/Profile '>
                      <button type="submit" class="cldr" id="ln1" name="username"><a class="nav-link"  >Profile</a></button>
                  </form>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Log Out</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Course Details</h2>
                <div class="page_link">
                  <a href="index.html">Home</a>
                  <a href="courses.html">Courses</a>
                  <a href="course-details.html">Courses Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Course Details Area =================-->
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid b" src="\img\courses\<%=val %>.jpg" alt="">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title">Objectives</h4>
                        <div class="content">
                          <%= det.details %>
                        </div>

                        
                        <h4 class="title">Resources</h4>
                        <form method='POST' action='http://localhost:3000/add/resource'>
                            <input type="text" name="Course_id" value="<%=val %>" readonly>
                            <input type="file" name="resources">
                            
                            <button type="submit" class="btn btn-primary submit" id="submit">Submit</button>                        </form>
                            <h4 class="title">ADD TEST</h4>
                            <form method='POST' action='http://localhost:3000/add/test'>
                                <input type="text" name="Course_id" value="<%=val %>" readonly>
                                <input type="text" name="Test_Name"placeholder="Test Name">
                                <input type="text" name="Add_Test" placeholder="url">
                                
                                <button type="submit" class="btn btn-primary submit" id="submit">Submit</button>                        </form>
                                <h4 class="title">ADD MARK</h4>
                                <form method='POST' action='http://localhost:3000/add/mark'>

                                <input type="text" name="Course_id" value="<%=val %>" readonly>
                                <input type="text" name="Test_Name" placeholder="Test Name">
                                <input type="text" name="Roll_no" placeholder="Roll no">
                                <input type="text" name="mark_obt" placeholder="Marks scored">
                                
                                
                                <button type="submit" class="btn btn-primary submit" id="submit">Submit</button>                        </form>
                                <h4 class="title">GRADE</h4>

                                <form method='POST' action='http://localhost:3000/add/grade'>

                                  <input type="text" name="Course_id" value="<%=val %>" readonly  >
                                  <input type="text" name="Roll_no" placeholder="Roll no">
                                  <input type="text" name="grades" placeholder="Grade">
                                   
                                  <button type="submit" class="btn btn-primary submit" id="submit">Submit</button>                        </form>
                                  <h4 class="title">Feedback</h4>
                                  <form method='POST' action='http://localhost:3000/show/fac'>
                                    <button type="submit" class="btn btn-primary submit" name="submit" value="<%=val %>">Click here to view Feedback!</button>
                      
                                  </form>
                              </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Faculty Name</p>
                                <span class="or"><%= Facname.F_Fname+" "+Facname.F_Lname %></span>
                            </a>
                        </li>
                        
                       
                        
                    </ul>
                    <a href="#" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Enroll the course</a>

                    <h4 class="title">Students Performance</h4>
                    <div class="content">
                        <div class="review-top row pt-40">
                            <div class="col-lg-12">
                              <table class="table" id="dataTable" style="display: none;">
                                <thead>
                                  <th>Test Name</th>
                                  <th>Average</th>
                                </thead>
                                <tbody>
                                  <% Test.forEach(function(T) {%>
                                  <tr>
                                    <td><%= T.Test_name %></td>
                                    <td><%= T.Avg %></td>
                                  
                                  </tr>
                                  <% }); %>

                                </tbody>
                              </table>
                              
                              
                              <div class="chart">
                              <canvas id="myChart"></canvas>
                              </div>                    
                                </div>
                            </div>
                        </div>
                        <div class="Announcement">
                          <h6>Announcement</h6>
                          <form action="/add/announcement" method="POST">
                            <input type="text" name="Course_id" value="<%=val %>" style="display:none" >
                          <textarea name="Announcement" class="form-control" cols="10" rows="10"></textarea>
                          <div class="mt-10 text-right">
                            <button type="submit" class="btn btn-primary submit" value="submit">Submit</button>
                          </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Course Details Area =================-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.css" />
<script>
  function BuildChart(labels, values, chartTitle) {
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels, // Our labels
            datasets: [{
                label: chartTitle, // Name the series
                data: values, // Our values
                backgroundColor: [ // Specify custom colors
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [ // Add custom color borders
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1 // Specify bar border width
            }]
        },
        options: {
            responsive: true, // Instruct chart js to respond nicely.
            maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
        }
    });
    return myChart;
}


// HTML To JSON Script 
// *Forked* from https://johndyer.name/html-table-to-json/
var table = document.getElementById('dataTable');
var json = []; // first row needs to be headers 
var headers = [];
console.log("hi")
for (var i = 0; i < table.rows[0].cells.length; i++) {
    headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi, '');
}
// go through cells 
for (var i = 1; i < table.rows.length; i++) {
    var tableRow = table.rows[i];
    var rowData = {};
    for (var j = 0; j < tableRow.cells.length; j++) {
        rowData[headers[j]] = tableRow.cells[j].innerHTML;
    }
    json.push(rowData);
}
console.log(json);
// Map json values back to label array
var labels = json.map(function (e) {
    return e.testname;
});
console.log(labels);
// Map json values back to values array
var values = json.map(function (e) {
    return e.average;
});
console.log(values);
var chart = BuildChart(labels, values, "Average Marks");
</script>
<script>
      document.getElementById("ln").value=localStorage.getItem('username');
    document.getElementById("ln1").value=localStorage.getItem('username');

</script>
    
      
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="\extra\jquery-3.2.1.min.js"></script>
          <script src="\extra\popper.js"></script>
          <script src="\extra\bootstrap\js\bootstrap.min.js"></script>
          <script src="\extra\vendors\nice-select\js\jquery.nice-select.min.js"></script>
          <script src="\extra\vendors\owl-carousel\owl.carousel.min.js"></script>
          <script src="\extra\owl-carousel-thumb.min.js"></script>
          <script src="\extra\jquery.ajaxchimp.min.js"></script>
          <script src="\extra\mail-script.js"></script>
          <!--gmaps Js-->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
          <script src="\extra\gmaps.min.js"></script>
          <script src="\extra\theme.js"></script>
        </body>
      </html>