<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="img/favicon.png" type="image/png" />
  <title>Courses Details</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="extra\bootstrap\css\bootstrap.css" />
  <link rel="stylesheet" href="extra\flaticon.css" />
  <link rel="stylesheet" href="extra\themify-icons.css" />
  <link rel="stylesheet" href="extra\vendors\owl-carousel\owl.carousel.min.css" />
  <link rel="stylesheet" href="extra\vendors\nice-select\css\nice-select.css" />
  <!-- main css -->
  <link rel="stylesheet" href="css\style1.css" />
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt="" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              
                <li class="nav-item aqwe ">
                  <form method='POST' action='http://localhost:3000/ViewCourse1 '>
                    <button type="submit" class="cldr" id="ln" name="username"><a class="nav-link"  >Courses</a></button>
                </form>                  </li>
                <li class="nav-item active">
                  <form method='POST' action='http://localhost:3000/Profile '>
                    <button type="submit" class="cldr" id="ln1" name="username"><a class="nav-link"  >Profile</a></button>
                </form>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Log Out</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->

  <!--================Home Banner Area =================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="banner_content text-center">
              <h2><input type="text" name="username" id="feedbackusername" style="background-color: black; color: blanchedalmond; text-align: center; border:black;" readonly></h2>
              <div class="page_link">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->
<section style="background-color:#fffefe; text-align: center;">
    
    <div class="container lve" style="margin-top: 2%;">
      <table class="table table-hover table-striped aa" id="data">
        <thead class="thead-dark">
          <% faculties.forEach(function(faculty) {%>

          <tr>
            <td class="we4" scope="col">Faculty id</th>
            <td class="we4" scope="col"><%= faculty.Faculty_id  %></th>
          </tr>
          <tr>
            <td class="we4" scope="col">First Name</th>
            <td class="we4" scope="col"><%= faculty.F_Fname %></th>
          </tr>
          <tr>
            <td class="we4" scope="col">Last Name</th>
            <td class="we4" scope="col"><%= faculty.F_Lname %></th>
          </tr>
          <tr>
            <td class="we4" scope="col">Email</th>
            <td class="we4" scope="col"><%= faculty.Email %></th>
          </tr>
          <tr>
            <td class="we4" scope="col">Gender</th>
            <td class="we4" scope="col"><%= faculty.Gender %></th>
          </tr>
         
          <tr>
            <td class="we4" scope="col">Dept</th>
            <td class="we4" scope="col"><%= faculty.Dept_id %></th>
          </tr>

          <% }); %>
        </thead>


      </table>
    </div>
  
    
</section>


  <script>
 
    document.getElementById("feedbackusername").value=localStorage.getItem('username');
    document.getElementById("ln").value=localStorage.getItem('username');

  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="extra\jquery-3.2.1.min.js"></script>
  <script src="extra\popper.js"></script>
  <script src="extra\bootstrap\js\bootstrap.min.js"></script>
  <script src="extra\vendors\nice-select\js\jquery.nice-select.min.js"></script>
  <script src="extra\vendors\owl-carousel\owl.carousel.min.js"></script>
  <script src="extra\owl-carousel-thumb.min.js"></script>
  <script src="extra\jquery.ajaxchimp.min.js"></script>
  <script src="extra\mail-script.js"></script>
  <!--gmaps Js-->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="extra\gmaps.min.js"></script>
  <script src="extra\theme.js"></script>
</body>

</html>